<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="isLoggedIn === true">
  <a class="navbar-brand" href="">
    <img src="./assets/img/JKU.jpg" height="50" width="auto" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/StartMenu']">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['/Admin']">Administration</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['/Exam']">Exams</a>
      </li>
      <!--li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menü
          </a>
          <div class="dropdown-menu mr-aut" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/Admin']">Administration</a>
            <a class="dropdown-item" [routerLink]="['/Exam']">Exams</a>
          </div
        </li>-->
    </ul>
    <ul class="navbar-nav">
      <span class="navbar-text">
        Hello Mr. {{name}}
      </span>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
