<div class="container">
  <div class="row mt-5">
    <!-- left side iterate over all exams-->
    <div class="col-12">
      <h4 class="d-inline-block mr-5">Exams</h4>
      <button type="submit" *ngIf="addExam === false" class="btn btn-primary d-inline-block" (click)="addNewExam()">Add Exam</button>
      <ul class="list-group">
        <li class="list-group-item mt-3" [class.active]="setActive(exam.examId)" style="height: 50px; background:lightgray;" *ngFor="let exam of exams"
          (click)="setCurrentDetail(exam)">
          <p class="d-inline-block mr-1" style="width: 100px;">{{exam.type}}</p>
          <p class="d-inline-block mr-1" style="width: 250px;">{{exam.title}}</p>
          <p class="d-inline-block mr-2" style="width: 80px;">{{exam.examId}}</p>
          <p class="d-inline-block mr-1" style="width: 80px;">{{exam.semester}}</p>
          <p class="d-inline-block mr-1" style="width: 120px;">START: {{exam.examStart | date:'shortTime'}}</p>
          <p class="d-inline-block mr-1" style="width: 120px;">END: {{exam.examEnd | date:'shortTime'}}</p>
          <button  type="submit" *ngIf="user.isStudent === true" class="btn btn-xs btn-dark fa-pull-right" style="width:120px; transform: translateY(-20%);"
            (click)="subscribe(exam)">Subscribe</button>
          <button  type="submit" class="btn btn-xs btn-success fa-pull-right" style="width:120px; transform: translateY(-20%);"
            (click)="unsubscribe(exam)" *ngIf="user.isStudent === true">Unsubscribe</button>
        </li>
      </ul>
    </div>
  </div>
